################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSVReadAndWrite/obj
/CSVReadAndWrite/bin/Debug/netcoreapp3.1
